table{
	border-collapse: collapse;
	width: 80%;
	height: 300px;
	text-align: center;


}
tr.dong1{
	background-color: blue;
	color: white;
}
tr:hover{
	background-color:yellow;
	color: red;}
h3{
	color: red;
	font-size: 50px;
	font-variant: small-caps;
}
h1{
 text-align: center;
 box-shadow:  0  2px red;
 color: red;


}

tr:nth-child(odd){
	background-color: #c0c0c0;
}
tr:nth-child(even){
	background-color: gray;
}
